*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: 'roboto', 'raleway', 'sans-serif';    
    background-color: #ffffff;
    color: #212121; 
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.section {
    padding: 94px 0;
}
/*this styles are for header nav*/
.webstudio {
color: #2396f3;
text-decoration: none;
font-family: 'raleway';
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
}
.nav-box-one {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 16px;
}
.nav-box-two {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}
ul {
    list-style-type: none;
}
ul li a {
        color: #212121;
        text-decoration: none;
}
.link-two {
    color: #757575;
}
ul .link-one:hover,.link-two:hover,.link-one:focus,.link-two:focus {
    color: #2396f3;
}
/* this styles are for index */
.main-box-one {
    background-color: #2F303A;
    text-align: center;
}
.main-box-one-button {
    background-color: #2196f3;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    text-align: center;
}
.main-title {
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
}
.section-box-one-p, .section-box-two-p{
    color: #757575;
}
.section-box-one-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
}
.section-box-one-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.images-title {
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
}
.section-box-two-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
}
.section-box-two-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
}
.section-box-two-p {
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
}
/* this styles are for main in portfolio*/
.main-portfolio {
display: flex;
flex-direction: row;
}
.main-ul-portfolio{
    display: flex;
flex-direction: row;
}
.main-ul-li-button-portfolio {
    background-color: #F5F4FA;
border-radius: 4px;
color: #212121;
border: none;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.03em;
text-align: center;
}
.main-ul-li-button-portfolio:hover,.main-ul-li-button-portfolio:focus {
    color: #ffffff;
    background-color: #2196f3;
    cursor: pointer;
}
.card-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
}
.card-letter{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
}
/*this styles are for footer in all pages*/
footer {
    background-color: #2F303A;
}
.footer-address{
color: #ffffff;
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
}
.footer-a-one {
    color: rgba(255, 255, 255, 0.6);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
}
